---
    import { app } from "../firebase/server";
    import { getAuth } from "firebase-admin/auth";
    import Layout from "../layouts/Layout.astro";

    const auth = getAuth(app);

    /* Check current session */
    const sessionCookie = Astro.cookies.get("session").value;

    if (!sessionCookie)
        return Astro.redirect("/signin");
    const decodedCookie = await auth.verifySessionCookie(sessionCookie);
    const user = await auth.getUser(decodedCookie.uid);
---

<Layout title="User">
    {user.displayName}
    <form action="/api/auth/signout">
        <button type="submit">Sign out</button>
    </form>
</Layout>