---
    interface Props{
        URL:string,
        SVG:string
    }

    const { URL, SVG }:Props = Astro.props
---

<a href={URL} class="flex px-5">
    <button class="group rounded-full p-1.5 shadow-sm transition-all duration-150 ease-in hover:scale-[1.075] hover:bg-zinc-700 hover:shadow-md hover:shadow-green-400/25">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-Width="1.5" stroke="currentColor" class="transition-color h-8 w-8 delay-75 duration-150 ease-in group-hover:text-green-400">
            <path stroke-Linecap="round" stroke-Linejoin="round" d={SVG} />
        </svg>
    </button>
</a>