main{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 108px);
    width: 33.333333%;
    margin-left: 33.333333%;
    margin-right: 33.333333%;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

label{
    @apply text-xl ml-2 tracking-wide
}
.ast{
    @apply text-red-500
}

input{
    @apply bg-slate-700 rounded-sm
}

form button{
    width: fit-content;
    padding: 0.25rem 1rem;
    margin: 0.25rem auto;
    border-radius: 0.375rem;
    font-size: 1.125rem;
    line-height: 1.75rem;

    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    @apply shadow-sm
}
form button:hover{
    background-color: rgb(63 63 70);
    transform: scale(1.075);

    @apply shadow-md shadow-green-400/25
}
form button span{
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-delay: 75ms;
}

p a{
    @apply transition-colors ease-linear
}
p a:hover{
    @apply text-green-400
}